@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Karla:wght@200&family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none; 
}

body {
    font-family: karla, sans-serif;
    font-weight: 300;
}

/* heading and logo */




h1 {
    font-family: Mulish , sans-serif;
    text-transform: uppercase;
    color: #2e2eb8;
    text-decoration: none;
}

h2 {
    font-family: Mulish, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

}

#logo {
    /* float: left; */
    letter-spacing: 6px;
    color: #191970;
    font-size:250% ;
    background-color: rgba(240, 240, 240, 0.888);

}

/* navigation links */

#menu {
    /* font-size: 100%; */
    height: 150px;
    /* width: 100%; */
    background-color: #191970;
    text-align: center; 
    
    


}

#menu, #logo {
  /*  line-height: 120px; */
        height: 150px;
         /* display: inline-block; */

}

#menu li {
    height: 150px; 
    /* text-align: center;  */
    display: inline-block;
    padding-top: 50px;
    list-style-type: none;
    margin-right: 50px;  
    font-size: 30px;
    text-transform:uppercase;

    
}

#menu a {
    text-decoration: none;
    color: #fafafa;

}

#menu a:hover {
    text-decoration: none;
    
    
    
}

.active {
    border-bottom: 1px solid #fafafa;
}
 
/* hero images */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden; 
}
    
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/heroimg8.jpg')no-repeat center center; 
    background-size: cover;
    background-position: center;
}

#join-us {
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 40%;
    background: #f8d54d;
    margin: 0 auto;
} 



/* gym contents */



#about-ethos div {
    height: 550px;
    width: 33%;
    float: left;
    background-color: rgba(240, 240, 240, 0.888); 
    
    
  /* background: url('../images/background2.jpg');
   background-size: cover;
   background-position: center; */
}

#train {
    padding-top: 100px;
}

#train > h2 {
    text-align: center;
    color: #191970;
    margin-bottom: 35px;
}

#train p {
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 1px; 
    
}

#train ul {
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    color: #191970;
    list-style-type: none;
    
}

#about-us-button {
    padding-top: 100px;
    
}

#meal p {
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 1px;
    
}

#gym {
    padding-top: 100px;
}

#gym > h2 {
    text-align: center;
    color: #191970;
    margin-bottom: 35px;

}

#gym p {
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 1px;
}

#gym ul {
    text-align: center;
    color: #191970;
    line-height: 35px;
    list-style-type: none;
}


/* second hero image */

/*#bottom-image-outer {
    height: 700px;
    width: 100%;
    padding-top: 15px; 
} */

#bottom-image {
    height: 500px;
    width: 100%;
    background: url('../images/heroimag9.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;
} 

.ethos-images {
    background: url();

}

.group {
     background: url();
}

.personnaltrainer {
    background: url();

}

.singletraining {
    height: 300px;
    width: 25%;
    border-radius: 50px;
   /* background: #191970; */
    background: url('../images/background.jpg'); 
    background-size: cover;  
    background-position: center;  
}

.meals {
    background: url();
}
/* adout us */

.about {
    padding-left: 30px;
    padding-top: 30px;
    
}

#about-us-image {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-image:url('../images/unnamed1.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    
}

#about-us-text {
    height: 300px;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    font-size: larger;
    border-radius: 40%;
    float: right;

}

#about-us-text > h2 {
    margin-right: 100px;
    letter-spacing: 9px;
}

#about-us-text > p {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #191970;
    font-weight: 500;
    font-size: 20px;
    line-heIght:30px;
}

/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    #about-us-image {
      width: 100%;
      float: none;
    } 

    #about-us-text {
        width: 100%;
    }
}


#goals-image {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-image:url('../images/unnamed3.jpg');
    background-size: cover;
    background-position: center; 
    margin-bottom: 30px; 
    
    
    
}

#goals-text {
    height: 300px;
    width: 40%;
    text-align: center;
    
    font-size: larger;
    border-radius:40%;
    
}

/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    #goals-image {
      width: 100%;
      float: none;
    } 

    #goals-text {
        width: 100%;
    }
}

.programs {
    display: inline;
}

#programs-image {
    height: 300px;
    width: 300px; 
    border-radius: 40px;
    background-image:url('../images/unnamed2.jpg');
    background-size: cover;
   /* background-position: center; */
} 

 #programs-text {
    height: 300px;
    width: 40%;
    text-align: center;
    font-size: larger;
    padding-top: 50px;
    border-radius: 40%;
    
}

/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    #programs-image {
      width: 100%;
      left: 0px;
    } 

    #programs-text {
        width: 100%;
        

    }
}

#prices {
    height: 300px;
    width: 100%;
    background-color: rgba(251, 245, 219, 0.6);

}

/*  signup form */



#signup-image-outer {
    height: 900px;
    
}

#signup-image {
    height: 500px;
    width: 25%;
    float: right;
    margin-right: 75px;
    margin-top: -100px;
    padding: 40px; 
    border-radius: 50px;
    background: url('../images/heroimg7.jpeg'); 
    background-size: cover;  
    background-position: center;  
    line-height: 20px;
}

 /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    #signup-image {
      width: 100%;
      float: none;
    }
  }

  .deals-list {
    height: 500px;
    width: 50%;
    margin-left: 100px;
    line-height: 50px;
    color: #2e2eb8; 
} 
 div h3 {
    margin-left: 100px;
    padding: 30px;
 }



#signup-form-outer {
    height: 700px;
    width: 100%;
    background-image: url('../images/bottomimage.webp');
    background-size: cover;
    background-position: center;
}

#signup-form {
    margin:100px 10% 0 0; 
    line-height: 20px;
    padding: 40px;
    height: 450px;
    width: 40%;
    border-radius: 50px;
    left: 30px;
    color: silver;
   /* margin: 0 auto; */
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.6); */
    
}

#signup-form > h2 {
    text-align: center;
    margin-bottom:30px;
    
}

.text-input {
    background:white;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #fafafa;
    border-radius:15px;
}

 /*.submit-button {
    margin: 0 auto;
    border-radius:30px;
    padding:15px 32px 15px 32px; 
   /* text-align:center;*/ 
   /* font-size:100%;
    background-color: #191970;
    color: #0a0404;
    display:block; 
} */

.text-input:hover {
    border-color: #2e2eb8;
}

.submit-button:hover {
    background-color: #fff;
    
}



/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    #signup-form {
      width: 100%;
      left: 0px;
    } 
}

.columns {
    box-sizing: border-box;
    
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
  /*   border: 1px solid #eee; */
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover 
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2) 
  } */
  
  /* Pricing header */
  .price .header {
    background-color: #191970;
    color: white;
    font-size: 25px;
    border-radius: 30px;
  }
  
  /* List items */
  .price li {
    /* border-bottom: 1px solid #eee; */
    padding: 20px;
    text-align: center;
    border-radius: 30px;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
    border-radius: 30px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 40px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

/*#signup-bottom {
    height: 100px;
    width: 150%;
   /* text-align: center; 
    margin: 1%;
    font-size: 175%;
    letter-spacing: 3px;
    color: #fff;
    background: url('../images/background.jpg')no-repeat center center; 
} */
/* footer, contact, opening hours, social media links */


/* #opentimes div {
       
       float: left;
       width:50%;
}*/


.open-times {
    padding: 40px;
    width: 100%;
   /* background: rgba(240, 240, 240, 0.888); */
    letter-spacing: 5px;
    color: #191970;
    
    
}

.open-times > h3 {
    width: 17%;
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #191970;
    text-transform: uppercase;
}

.open-times > table {
    border-bottom: 1px solid #191970;
}

 #map {
    height: 50%;
    padding: 5px;
    text-align: center;
    background: url('../images/map.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

#map h3 {
    padding: 6px;
    text-align: center;
    color: #191970;
    text-transform: uppercase;
    padding-right: 100px;
    letter-spacing: 6px;
}



.text-input {
    background:white;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #fafafa;
    border-radius:15px;
}






 #footer {
    height: 200px;
    
}




/*#logo-bottom {
    text-align: center;
    padding-bottom: 50px;
    color: #fff; 
    
    
} */



/*#contact-number {
    float: left;
    padding-top: 30px;
    color: grey;
    margin-left: 30px; 
    
} */

#contact-us{
    height: 100px;
    padding: 20px;
    text-align: center;
    
    
}

#contact-us > h5 {
    font-size: 175%;
    letter-spacing: 3px;
    color: silver;
}

#contact-us > p {
    padding-top: 10px;
    color: silver;
    letter-spacing: 4px;
}

.media-links {
    text-align: center;
    padding-top: 20px;
}


.media-links i {
    font-size: 200%;
    margin: 1px;
    padding: 10px;
    color: black;
    clear: both;

}



.submit-button {
    margin: 0 auto;
    border-radius:30px;
    padding:15px 32px 15px 32px; 
   /* text-align:center;*/ 
    font-size:100%;
    background-color: #0b2c87;
    color: silver;
    display:block;
}

.text-input:hover {
    border-color: #2e2eb8;
}

.submit-button:hover {
    background-color: #fff;
    color: #f8d54d;
}

#times{
    /* background-image: url("../images/map.jpg"); */
    
  /*  background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}

#times div {
    color: #0b2c87;
    background-color: rgba(0,0,0, .6); 
    background-image: url('../images/map.jpg');
    width: 20%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center; 
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 30px;
}

#times h2 {
    color: #0b2c87;
}

#times p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    color: inherit;
    line-height: 35px;
    
    
}


