@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Karla:wght@200&family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: karla, sans-serif;
    font-weight: 300;
}

/* heading and logo */




h1,h2 {
    font-family: Mulish, sans-serif;
    text-transform: uppercase;
    color:#2e2eb8;
}

#logo {
    float: left;
    letter-spacing: 6px;
    color: #2e2eb8;
    font-size:250% ;
    margin-left: 50px;
}

/* navigation links */

#menu {
    font-size: 100%;
}

#menu, #logo {
  /*  line-height: 120px; */
        height: 150px;
         display: inline-block;

}

#menu li {
    float: right;
    padding-top: 120px;
    list-style-type: none;
    margin-right: 50px;
    
}

#menu a {
    text-decoration: none;
    color: #2e2eb8;
}

#menu a:hover {
    background-color: #2e2eb8;
    border-radius: 5px;
    color: red;
}

.active {
    border-bottom: 1px solid #2e2eb8;
}
 
/* hero images */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden; 
}
    
#hero-image {
    height: 300px;
    width: 100%;
   /* background: url('../images/heroimg7.jpeg')no-repeat center center; */
   background: #f8d54d;
    background-size: cover;
    background-position: center;
}

#join-us {
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 40%;
    background: #f8d54d;
    margin: 0 auto;
}



/* gym contents */



#about-us div {
    height: 300px;
    text-align: center;
    padding-top: 50px;
    background-color: rgba(240, 240, 240, 0.888); 
    
  /* background: url('../images/background2.jpg');
   background-size: cover;
   background-position: center; */
}


#train p {
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 1px;
    border-bottom: 1px solid #fff;
}

#meal p {
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 1px;
    border-bottom:1px solid #fff;
}

#gym p {
    height: 150px;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 1px;
}


/* second hero image */

/*#bottom-image-outer {
    height: 700px;
    width: 100%;
    padding-top: 15px; 
} */

#bottom-image {
    height: 700px;
    width: 100%;
    background: url('../images/heroimag9.jpg')no-repeat center center;
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;
} 

/*#signup-bottom {
    height: 100px;
    width: 150%;
   /* text-align: center; 
    margin: 1%;
    font-size: 175%;
    letter-spacing: 3px;
    color: #fff;
    background: url('../images/background.jpg')no-repeat center center; 
} */
/* footer, contact, opening hours, social media links */

#footer {
    height: 200px;
 /*   background-color: #3d3d5c; */
    
}




/*#logo-bottom {
    text-align: center;
    padding-bottom: 50px;
    color: #fff; 
    
    
}

/*#open-times {
    float: right;
    padding-top: 30px;
    color: #fff; 
}

/*#contact-number {
    float: left;
    padding-top: 30px;
    color: grey;
    margin-left: 30px; 
    
} */

#contact-us{
    padding: 20px;
    text-align: center;
    
}

#contact-us > h5 {
    font-size: 175%;
    letter-spacing: 3px;
    color: silver;
}

#contact-us > p {
    padding-top: 10px;
    color: silver;
    letter-spacing: 4px;
}

.media-links {
    
    text-align: center;
    padding-top: 20px;
}


.media-links i {
    font-size: 200%;
    padding: 10px;
    color: black;
    clear: both;

}

.open-times {
    padding-top: 200px;
    padding-left: 150px;
    letter-spacing: 5px;
    color: #fff;
}

.open-times > h3 {
    width: 20%;
    margin-left: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.open-times > table {
    border-bottom: 1px solid #fff;
}

/*  signup form */

.signup-image {
    
    background: url('../images/background2.jpg') no-repeat; 
    /* background-size: cover;  */
    /* background-position: center;  */
    height: 200px;
    
}

.signup-form {
    margin:100px 10% 0 0; 
    line-height: 20px;
    padding: 40px;
    height: 400px;
    width: 40%;
    border-radius: 50px;
    left: 30px;
   /* margin: 0 auto; */
    position: absolute;
    background-color: rgba(251, 245, 219, 0.6);
    
}

.signup-form > h2 {
    text-align: center;
    margin-bottom:20px;
    
}

.signup-label {
    font-size: 20px;
    font-weight: 400;

}

.text-input {
    background:white;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #fafafa;
    border-radius:15px;
}

.submit-button {
    margin: 0 auto;
    border-radius:30px;
    padding:15px 32px 15px 32px; 
   /* text-align:center;*/ 
    font-size:100%;
    background-color: #f8d54d;
    color: #0a0404;
    display:block;
}

.text-input:hover {
    border-color: #2e2eb8;
}

.submit-button:hover {
    background-color: #fff;
    color: #f8d54d;
}