@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Karla:wght@200&family=Mulish:wght@300&display=swap');

/* style to over ride default setting */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Set font family for html body */

body {
    font-family: karla, sans-serif;
    font-weight: 300;
}

/* Position for html linked logo image */

#logo {
    height: 150px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -3px;
}

/* Style to remove default border bottom for navbar links */

header nav a {
    text-decoration: none;
} 

/* Style color, font size and position for navbar link*/

.menu {
    height: 70px;
    background-color: #0e2133;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-top: 20px;
    list-style-type: none;
    margin-right: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

.menu a {
    height: 35px;
    width: 100%;
    color: #fa561b;
}

/*Style navbar link border bottom when page is active*/

.active {
    border-bottom: 4px solid #fa561b;
}

/* Style to set positin, size and contrast  for the  hero images */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/heroimage.jpg')no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.overlay {
    background: rgba(0, 0, 0, 0.1); 
    padding-bottom: 100px;
}

/* style to set font size, color and font family for cover message on the hero imgae*/

.hero-image h1 {
    width: 80%;
    font-family: Mulish, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    margin-left: 130px;
    padding-top: 125px;
}

/* Style and position for the hero image, cover note and the click here link*/

.hero-image a {
    height: 80px;
    width: 120px;
    border-radius: 50%;
    margin-left: 580px;
    text-align: center;
    background-color: #CD3700;
    margin-top: 120px;
    padding-top: 40px;
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
}

.hero-image a:hover {
    border: 3px solid #0e2133;
}

.hero-image h1 {
    display: block;
}

.hero-image a {
    display: inline-block;
}

/* style for the gym ethos contents, includes background color and float position */

#about-ethos {
    width: 100%;
}

#about-ethos div {
    height: 400px;
    width: 50%;
    float: left;
    background-color: rgba(240, 240, 240, 0.888);
    overflow: hidden;
}

/*Pr0grams list style*/

.train-us {
    width: 100%;
    column-gap: 1em;
}

.train-us>h2 {
    padding-top: 50px;
    text-align: center;
    color: #0e2133;
    margin-bottom: 35px;
}

.train-us ul {
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    color: #0e2133;
    list-style-type: none;
    font-size: 1.4em;
}
/*Gym comfort list style */

.gym-comfort {
    width: 100%;
}

.gym-comfort>h2 {
    padding-top: 50px;
    text-align: center;
    color: #0e2133;
    margin-bottom: 35px;
}

.gym-comfort ul {
    text-align: center;
    color: #0e2133;
    line-height: 35px;
    list-style-type: none;
    font-size: 1.4em;
}

/*Style for Home page nav link to About Us page*/

.about-us-button {
    text-align: center;
    padding-top: 500px;
    letter-spacing: 6px;
    padding-bottom: 100px;
}

.about-us-button a {
    padding: 25px;
    margin-top: 100px;
    font-size: larger;
    font-weight: 600;
    color: #fa561b;
    background-color: #0e2133;
    text-decoration: none;
    border-radius: 100px;
}

.about-us-button a:hover {
    border: 3px solid #fa561b;
}

/* Style for the open times below the ethos*/

.open-times {
    padding: 40px;
    width: 30%;
    letter-spacing: 5px;
    color: #0e2133;
    text-align: left;
    
}

.open-times>h3 {
    width: 263px;
    padding-bottom: 5px;
    border-bottom: 1px solid #0e2133;
    text-transform: uppercase;
}

.open-times>table {
    border-bottom: 1px solid #0e2133;
    text-align: left;
}

/* Style for second bottom image on home page*/

.bottom-image {
    height: 170px;
    width: 50%;
    float: right;
    background: url('../images/map2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 50px;
    margin-top: -205px;
    border-radius: 30px;
    border: 5px solid #0e2133;
    overflow: hidden;
}

/* Style for the map "Find Us" section*/

.map-outer {
    height: 100%;
    margin-bottom: -15px;
}

.map-outer h3 {
    margin-top: 30px;
}

#map {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
}

.map-outer h3 {
    padding: 6px;
    text-align: center;
    color: #0e2133;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 6px;
}

/*Style for footer section to all pages */

#footer {
    height: 300px;
    background-color: #0e2133;

}

/*style for  footer contact us information, headings and paragraphs*/

.contact-us {
    height: 100px;
    padding: 20px;
    text-align: center;
}

.contact-us>h4 {
    font-size: 175%;
    letter-spacing: 3px;
    color: silver;
}

.contact-us>h3 {
    font-size: 175%;
    letter-spacing: 3px;
    color: silver;
}

.contact-us p {
    padding-top: 10px;
    color: silver;
    letter-spacing: 4px;
}

/*style for footer media links*/

.media-links {
    text-align: center;
    padding-top: 20px;
    color: #fa561b;
    font-size: larger;
}

.media-links i {
    font-size: 200%;
    margin: 1px;
    padding: 10px;
    color: #CD3700;
    clear: both;
}

/* style for the "Adout Us Page" first sectoin content */

#about {
    margin-left: 30px;
}
/* crossfit image styled on the left of the second page with a border raidus style*/
.crossfit-image {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-image: url('../images/crossfitsmall.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* About us paragraphs and heading styled to the right of the second page with  */

.about-text {
    width: 60%;
    float: right;
    margin-top: -950px;
    text-align: center;
} 

.about-text>h2 {
    margin-right: 100px;
    letter-spacing: 9px;
    font-size: 2.4em;
}

.about-text>p {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #0e2133;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 30px;
}
/* trainer image styled to the left of the second page  below the crossfit image with a border radius style */

.trainer-image {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-image: url('../images/trainer2.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

/* the outdoor image styled below the trainer image with a border radius style*/
.outdoor-image {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-image: url('../images/outdoor4.jpg');
    background-size: cover;
    margin-bottom: 30px;
}

/*style for the border lines seperating the paragraphs in the about us text*/

hr {
    border-top: 1px solid #0e2133;
    width: 55%;
    margin-left: 100px;
}

/* style for price info on the "Aout Us" page before the footer floated left */

#prices {
    width: 100%;
    overflow: hidden;
    box-shadow: 8px 8px 12px 12px rgba(0, 0, 0, 0.2);
}

#prices div {
    color: #0e2133;
    background-color: rgba(240, 240, 240, 0.888);
    width: 20%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#prices h2 {
    color: #fafafa;
    background-color: #0e2133;
    margin-top: -25px;
    margin-bottom: 25px;
}

#prices p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: inherit;
    line-height: 35px;
}

/* style for the signup form on the become a member page */

#signup-image-outer {
    height: 900px;
}
 /*Sytle for image set to cover the background of the signup page*/

#signup-form-outer {
    height: 700px;
    width: 100%;
    background-image: url('../images/signupimage.jpeg');
    background-size: cover;
    background-position: center; 
    padding-top: 30px;
    font-size: larger;
    font-weight: 600;
}

/*Signup form headings, label and background colors styled */

.signup-form {
    background-color: rgba(240, 240, 240, 0.888);
    max-width: 400px;
    position: absolute;
    margin: 100px 10% 0 0;
    line-height: 20px;
    padding: 40px;
    border-radius: 50px;
    left: 50px;
    color: #0e2133;
    margin-top: 5px;
}

.signup-form h2 {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 40px;
    text-transform: none;
}
    
.signup-form>label {
    line-height: 40px;
}

/*Text input background color, size and font style here along with the textarea style*/

.text-input {
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border-radius: 10px;
    border: 1px solid #0e2133;
}

#questions {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #0e2133;
}

/* hover style for the submit button to change color when hovering is present*/

.submit-button:hover {
    background-color: #fff;
}

.submit-button {
    margin: 0 auto;
    border-radius: 30px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #0e2133;
    color: #fa561b;
    display: block;
    margin-top: 20px;
}

.text-input:hover {
    border-color: #0e2133;
}

.submit-button:hover {
    background-color: #fa561b;
    color: #0e2133;
}

/* style for 404 page cover image and error message */

#error {
    height: 500px;
    width: 100%;
    background: url('../images/404er.jpeg')no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
} 

#error>h1 {
    margin-top: 100px;
    text-align: center;
    color: #CD3700;
    font-size: 160px;
    font-weight: 800;
}

#error>p {
    text-align: center;
    color: #CD3700;
    font-size:larger;
    font-weight: 600;

}

/*For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    .hero-image a {
        margin-left: 350px;
    }

    .hero-image h1 {
        margin-left: 85px;
    }

    #about-ethos div {
        width: 50%;
    }

     .open-times {
        width: 80%;
    }

    .about-us-button {
        margin-bottom: 30px;
    }

    .bottom-image {
        margin-right: 20px;
    }

    .about {
        margin-left: 10px;
    }

    .about-text {
        width: 55%;
        display: inline;
        margin-top: -1000px;
        
    }

    .about-text h2 {
        margin-top: 50px;
        

    }

    .about-text p {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 1.2em;

    }

    hr {
        width: 70%;
        margin-left: 30px;
    }

}

/*  For medium screens sizes from 950px wide and down */
@media only screen and (max-width: 600px) {
    .signup-logo {
        display: none;
    }

    #logo {
        width: 100%;
        height: 120px;
        padding-top: 20px;
        margin-bottom: -35px;
    }

    header nav a {
        display: inline-block;
    }

    .menu {
        height: 40px;
        width: 100%;
        display: inline-block;
        margin-top: 30px;
    }

    .menu li {
        width: 80px;
        font-size: 10px;
        display: inline;
        margin: 0 auto;

    }

    .menu a {
        height: 15px;
        width: 30%;
        margin-top: 15px;
        text-decoration: none;
    }

    .active {
        border-bottom: none;
    }

    #hero-outer {
        height: 200px;
        margin-bottom: -30px;
    }

    .hero-image {
        background-size: contain;
        margin-top: -170px;
    }

    .hero-image h1 {
        width: 90%;
        font-size: 10px;
        line-height: 20px;
        margin-left: 20px;
        padding-top: 220px;
    }

    .hero-image a {
        display: none;
    }

    #about-ethos div {
        float: none;
        width: 100%;
        padding-top: 20px;
        margin: 0 auto;
        font-size: 0.8em;
    }

    .about-us-button {
        padding-bottom: 30px;
        padding-top: 100px;
    }

    #opentimes {
        width: 100%;
        height: 250px;
        line-height: 25px;
        padding-right: 0px;
        text-align: center;
    } 

    .open-times {
        width: 75%;
    }

    .open-times>h3 {
        width: 100%;
    }

    .open-times>table {
        border-bottom: none;
        width: 280px;
        margin-left: -10px;
    }

    .bottom-image {
        float: none;
        margin-top: 10px;
        width: 80%;
        margin-left: 35px;
        margin-bottom: 100px;
    }

    #map {
        margin-top: 180px;
    }

    .map-outer h3 {
        height: 40px;
        margin-top: 250px;
        margin-bottom: -180px;
    }

    .contact-us h4 {
        font-size: 1.2em;
        padding-bottom: 10px;
        margin-top: 30px;
    }

    .contact-us p {
        font-size: 0.6em;
        letter-spacing: 2px;
    }

    .about-us-image {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
        float: none;
    }

    .goals-image {
        margin: 0 auto;
        width: 90%;
        float: none;
        margin-bottom: 30px;

    }

    .programs-image {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 30px;
    }

    #about {
        margin-left: 3px;

    }

    .about-text {
        margin: 0 auto;
        display: inline;
        float: none;
    }

    .about-text h2 {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .about-text p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        border-bottom: none;
    }

    hr {
        border-top: none;
    }

    #prices div {
        width: 100%;
        clear: both;
        height: 180px;
    }

    #prices h2 {
        margin-bottom: 10px;
        margin-left: -10px;
    }

    .signup-form-outer {
        margin-right: 20px;
    }

    .signup-form {
        width: 65%;
        line-height: 10px;
        padding-left: 30px;
        font-size: medium;
        padding-top: 100px;
        padding-left: 43px;
        margin-left: -35px;
    }

    .signup-form label {
        line-height: 20px;
    }

    #error {
        background-size: contain;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}
